.form-check-input:checked {
    background-color: rgb(151, 4, 170);
    box-shadow: 0 0 5px 5px rgba(151, 4, 170, 0.3);
}

.copyCss {
    background-color: white;
    border: 1px solid rgb(151, 4, 170);
    border-radius: 5px;
    height: 50px;
    width: 100px;
    margin: auto 5px auto 5px;
    color: rgb(151, 4, 170);
}

.copyCss:hover {
    background-color: rgb(151, 4, 170);
    -webkit-box-shadow: 0px 0px 22px 5px rgba(151, 4, 170, 0.75);
    -moz-box-shadow: 0px 0px 22px 5px rgba(151, 4, 170, 0.75);
    box-shadow: 0px 0px 22px 5px rgba(151, 4, 170, 0.75);
    border-color: rgb(151, 4, 170);
}

.copyCss::after {
    background-color: rgb(151, 4, 170);
}

.copyCss:focus {
    box-shadow: 0px 0px 4px 5px rgba(151, 4, 170, 0.40);
}

.form-range::-webkit-slider-thumb {
    background-color: rgb(151, 4, 170);
}

.form-range:focus::-webkit-slider-thumb {
    box-shadow:0 0 0 1px rgba(151, 4, 170),0 0 0 .25rem rgba(151, 4, 170,.25);
}

.form-range::-webkit-slider-thumb:active{
    background-color:rgb(151, 4, 170, .4)
}

.border {
    border-radius: 5px;
    border-color: rgba(151, 4, 170)!important;
}